/* Style for the hole body. */
body {
    margin: 0;
    padding: 0;
    background: url('Loginbackground.jpg') no-repeat center center fixed;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
}

/* Style for the form box. */
.Maindiv {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(51, 51, 51, 0.8);
    background-size: cover;
    border-radius: 5px;

}

.form {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
}

/* Style for the image at the right part image */
.rightpartimg {
    float: right;
    display: inline;
    width: 35%;
    height: 35%;
    margin-right: 7%;
    margin-top: 7%;
    transition: 0.3s;
}

.rightpartimg:hover {
    width: 38%;
    height: 38%;
    margin-right: 5%;
    margin-top: 6%;
}

/* Style for the input fields */
#In {
    margin-top: 10px;
    width: 45%;
    height: 25px;
    padding: 4px;
    border-radius: 8px;
    outline: none;
    background-color: white;
    font-family: monospace;
    border-color: #FFAD32;
}

/* Style for the signup button */
#Submit {
    width: 20%;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 2%;
    margin-top: 3%;
    background-color: white;
    font-family: monospace;
    font-style: italic;
    font-size: 20px;
    border-color: #FFAD32;
    transition: 0.4s
}

#Submit:hover {
    background-color: #BCBEC0;
}

/* Style for the labels at the top of the input fields*/
#labels {
    font-family: monospace;
    font-size: 18px;
}

#lowerlabel {
    font-family: monospace;
    font-size: 18px;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: brown;
}

/* End of the style for the form box. */
